[core]
	editor = vi
[color]
	ui = true
[include]
	path = .gitconfig.local
[alias]
	st = status
	ci = commit
	cia = commit --amend
	cif = commit --fixup
	co = checkout
	lg = log --color --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold cyan)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
	rbc = rebase --continue
	cob = checkout -b
	cp = cherry-pick
[push]
	default = simple
[rebase]
	autoStash = false
	autoSquash = true
[user]
	name = John Hall
	email = john.hall@xjtag.com
[init]
	defaultBranch = master
