[color]
	ui = true
[include]
	path = .gitconfig.local
[alias]
	st = status
	ci = commit
	cia = commit --amend
	co = checkout
	lg = "log --graph --oneline --all --decorate --topo-order"
[push]
	default = simple
